<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaQajx-AaUVBQ4q7Lu7UlXuUG4QdigGtg</string>
	<key>GCM_SENDER_ID</key>
	<string>480916990528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.funfoipadui</string>
	<key>PROJECT_ID</key>
	<string>ipponyatest</string>
	<key>STORAGE_BUCKET</key>
	<string>ipponyatest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480916990528:ios:c245ad7e3db88ed2e1cda5</string>
</dict>
</plist>